<!doctype html>
<html>
  <head>
    <title>Styleguide: <%= title %></title>
    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="./theme/styleguide.css">
    <!-- Source CSS -->
    <% if @config['css_include'].to_s.strip.length != 0 %>
      <% @config['css_include'].each do |css| %>
      <link rel="stylesheet" href="<%= css %>">
      <% end %>
    <% end %>
  </head>
  <body class="styleguide">
    <header class="styleguide header-bar">
      <nav>
        <ul class="styleguide main-navigation">
          <li><h1 class="styleguide page-title">Styleguide</h1></li>
          <% @categories.each do |category, file_name| %>
            <% if category == title %>
            <li><a href="<%= file_name %>" class="active"><%= category %></a></li>
            <% else %>
            <li><a href="<%= file_name %>"><%= category %></a></li>
            <% end %>
          <% end %>
        </ul>
      </nav>
    </header>

    <div class="styleguide main-content">
      <div class="styleguide sidebar">
        <ul class="styleguide secondary-navigation">
          <% @blocks.each do |b| %>
          <li class="styleguide"><a href="#<%= b[:name] %>" class="styleguide"><%= b[:title] %></a></li>
          <% end %>
        </ul>
      </div>

      <div class="styleguide generated-content">
